* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;s
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}



html {
    font-size: 62.5%;
    /*1rem=16px =>10px/16   10px=1rem */
}

a {
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    
    min-height: 100vh;
    font-family: "Momo Trust Display", sans-serif;

}

/* section {
    margin-bottom: 50px;
} */

h1 {
    font-size: 4rem;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
   
}


h2 {
    font: 3rem;
    color: #070707;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;

}

p {
    font-size: 1.6em;
    letter-spacing: 0.5px;
    line-height: 2.2rem;
    text-align: justify;
    font-family: "Lobster", sans-serif;
}

.container {
    max-width: 85%;
    height: 100%;
    margin: auto;
}

.white-span {
    color: white;
}






/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header section ~~~~~~~~~~~~~*/
.header {
     background: linear-gradient(90deg, hsla(277, 16%, 15%, 1) 0%, hsla(210, 15%, 47%, 1) 45%, hsla(277, 16%, 15%, 1) 90%);
    width: 100%;
    min-width: 5vh;
    color: white;
    box-shadow: 0 0 5px #e8f0fe;
    position: sticky;
    top: 0%;
    z-index: 2;

}

.nav {

    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* ----nav left + logo ------ */
.logo {
    height: 60px;
    width: 60px;
    margin: 0.2rem;

}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
}


.logo img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 8px #999;
    transform: scale(1.1);

}

/* ----nav mid----- */

.Dark-light-mode {
    border: 2px solid rgb(110, 96, 96);
    border-radius: 16px;
    margin: 0.2rem;
    padding: 1rem 0.2rem;
    font-size: 2rem;
}

.Dark-light-mode button {
    border-radius: 50%;
}


/*---- nav Right---- */

.nav-links {
    flex-basis: 60%;
    height: auto;

}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 1rem;

}

.nav-links ul li a {
    position: relative;
    color: #999;
    font-weight: 400;
    font-size: 2.5rem;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 5px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -50%;
    opacity: 0;

}

.nav-links ul li a:hover {
    color: rgb(43, 39, 39);
    background-color: #999;
    font-weight: 600;
}

.nav-links ul li a:hover::after {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}

#check {
    display: none;
}


.checkbtn #bars,
#crss {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* CH=1seen,2hide & UC=1H,2S*/
#check:checked~label #crss {
    display: block;
}

#check:checked~label #bars {
    display: none;
}





/*~~~~~~~~~~~~~~~~~~ HOME SECTION ~~~~~~~~~~~~~~~~~~~*/

.Home {
    max-width: 100%;
    background-color: rgb(27, 27, 27, 20);
    background: radial-gradient(#070707, #2d2424, #070707);
}

.home .container {
    height: 90vh;
    margin: auto;
}

.imgeBG {
    width: 100%;
    height: 90vh;
    opacity: 0.4;
    z-index: -1;
}

.imgeBG img {
    max-width: 100%;
    object-fit: cover;
}

.content {
    background-color: #e33178;
    color: white;
    text-align: center;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    opacity: 1;


}

.content-box {
    text-align: center;
    width: 80%;
    margin-bottom: 1;


}

.content h3 {
    font-size: 2.5rem;
    width: 50%;

}

.content h1 {
    /* font-size: 4rem; */
    margin-bottom: 1.5rem;
}



.content h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}



.socialMediaicon {
    display: flex;
    width: 60%;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.socialMediaicon i {
    width: 45px;
    height: 45px;
    font-size: 40px;
    background-color: #070707;
    color: white;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.socialMediaicon i:hover {
    cursor: pointer;
    background-color: rgb(228, 65, 65);
    color: #070707;
    background-color: white;

}



.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;position: relative;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 1px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  z-index: -1;
  stroke-width: 2px ;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn a {
  color: white;
  font-size: 18px;
  font-weight: 100;
  z-index: 1;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Section~~~~~~~~~~~~~~~~~~~ */
.about {
    height: 90vh;
    max-width: 100%;
    background: radial-gradient(#070707, #2d2424, #070707);
    
  
}

.about .container {
    max-width: 80%;
}

.about-body {
    height: 100%;
    width: 100%;
    padding: 5% 0px;
    display: flex;
    gap: 2%;
}

.About-imge {
    border-radius: 15px;
    flex-basis: 40%;
    box-shadow: 5px 5px 10px 2px rgb(168, 177, 71);
}

.About-content {
    padding: 5rem;
    border-radius: 20px;
    text-align: center;
    flex-basis: 58%;
    background: hsla(211, 66%, 87%, 1);

}

.About-content h1 {
    margin-bottom: 2rem;
}

.About-content p {
    margin-bottom: 2rem;

}

.about img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;

}


.about img:hover {
    box-shadow: 10px 10px 5px 2px rgb(123, 128, 79);
}
.About-content:hover{
    box-shadow: 10px 10px 5px 2px rgb(193, 195, 180);
    transform: translate3d(-4rem, -2rem, 5em) scaleX(1.2);
    transition:all 2s;
    
}

.btnResume {
    background-color: rgb(255, 30, 180);
    border: none;
    color: white;
    margin-left: 20%;
    padding: 12px 30px;
    cursor: pointer;
    width: fit-content;
    border-radius: 10px;

}

.btnResume:hover {
    cursor: pointer;
    background-color: rgb(57, 178, 143);
    transform: scaleX(1.2);
    transition: 1s;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ skill Section~~~~~~~~~~~~~~~~~~~ */


#skills {

    padding: 40px;
    margin: 40px auto;
    border-radius: 10px;
}

#skills .container {
    padding: 20px;
    background: linear-gradient(135deg, hsla(270, 42%, 43%, 1) 7%, hsla(60, 38%, 57%, 1) 100%);
    border-radius: 1.5rem;
}

.container-skill {
    max-width: 60%;
    margin: auto;
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; */
}

#skills h1 {
    padding: 20px 0;
    text-align: center;

}
.Cr-card-container h2{
    text-align: left;
}

.Cr-card-container {
   background: hsla(211, 66%, 87%, 1);
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: rgb(130, 186, 146);
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar div {
    height: 10px;
    width: 0;
    border-radius: 10px;
}

.progress-bar div span {
    height: 3rem;
    width: 3rem;
    background-color: antiquewhite;
    border-radius: 50%;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----change BG & boder color--- */
.html {
    background-color: #e91e63;
    animation: hml 3s ease-in-out 1 forwards;
}

.css {
    background-color: #cddc39;
    animation: css 3s ease-in-out 1 forwards;
}

.JavaScript {

    background-color: #7cd2cb;
    animation: jvs 3s ease-in-out 1 forwards;
}

.React {
    background-color: #891e83;
    animation: rct 3s ease-in-out 1 forwards;
}

.MongoDB {
    background-color: #e91e63;
    animation: mdb 3s ease-in-out 1 forwards;
}

.Node-js {
    background-color: #4f3331;
    animation: njs 3s ease-in-out 1 forwards;
}

.html span {
    border: 1px solid #e91e63;
}

.css span {
    border: 1px solid #cddc39;
}

.JavaScript span {
    border: 1px solid #7cd2cb;
}

.React span {
    border: 1px solid #891e83;
}

.MongoDB span {
    border: 1px solid #e91e63;
}

.Node-js span {
    border: 1px solid #4f3331;
}

@keyframes hml {
    100% {
        width: 78%;
    }
}

@keyframes css {
    100% {
        width: 90%;
    }
}

@keyframes jvs {
    100% {
        width: 82%;
    }
}

@keyframes rct {
    100% {
        width: 63%;
    }
}

@keyframes mdb {
    100% {
        width: 75%;
    }
}

@keyframes njs {
    100% {
        width: 28%;
    }
}






/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ certificate Section~~~~~~~~~~~~~~~~~~~ */

#certifications {
    background: linear-gradient(135deg, hsla(270, 42%, 43%, 1) 7%, hsla(60, 38%, 57%, 1) 100%);
    padding: 3rem;
    max-width: 80%;
    margin: 4rem auto;
    border-radius: 10px;
}

#certifications h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.cert-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.cert-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    flex-basis: 31%;
    /* width: 400px; */
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cert-card h3 {
    color: #4caf50;
    margin-bottom: 1rem;
}

.cert-card p {
    color: #555;
    margin: 5px 0;
}

.crt-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #48984c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.crt-btn:hover {
    background-color: #13d813;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ project Section~~~~~~~~~~~~~~~~~~~ */
.project {
    /* background-color: rgb(138, 127, 145); */
    width: 100%;

}

.project .container {
   background: linear-gradient(90deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);
    max-width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 1.5rem;

}

.project .container h1 {
    text-align: center;
}

.proj1 {
    margin: auto;
    display: grid;
    padding: 2rem;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.card {
    background-color: #070707;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    position: relative;
    cursor: pointer;

}

img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: fill;
    object-position: center;

    /* transform: rotate(-5deg); */
    transition: 2s;

}

.intro {
    height: 20%;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(27, 27, 27, 0.5);
    color: white;
    transition: 0.5s;
}


.intro p {
    visibility: hidden;
    opacity: 0;
}

.card:hover .intro {
    height: 35%;
    width: 100%;
    background: black;


}

.card:hover .intro p {
    visibility: visible;
    opacity: 1;
}

.card:hover img {
    transform: scale(1.2) rotate(0deg);
    object-fit: cover;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ Contact ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact {
    min-height: 80vh;
    /* background-color: #9b9fa5; */
    text-align: center;
    display: flex;
    align-items: center;
}

.contact .container {
    padding: 2rem;
    width: 70%;
    
}


.contact-wrapper {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
    margin: 4rem 1rem 0 1rem;
}

/* =================.contact Left side=========== */
.contact-form {
    background-color:#aae38991;
    text-align: left;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 5px 10px 18px rgb(174, 138, 95);

}

.contact-form h3 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

.contact-form button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #a04569;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 50%;
    border-radius: 4px;

}

.contact-form button:hover {

    background-color: #4caf50;
    transition: 0.3s ease;
}

.submit-btn {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: #0B36A8;
    width: 95%;
}

.submit-btn:hover {
    color: #0B36A8;
    background-color: white;
}




/*====== contact Right Side ==== */
.contact-info {
    background-color: #333;
    text-align: left;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    box-shadow: 5px 10px 18px #a68383;
    transition: all linear 2s;

}

.contact-info h3 {
    margin-bottom: 2rem;
}

.contact-info p {
    margin-bottom: 1.2rem;
    color: #b07698;
    text-align: left;
}

.contact-info i {
    color: #9a0d46;
    margin-right: 10px;
}

.contact-info:hover,
.contact-form:hover {
    transform: scale3d(1.1, 1.1, 1);
    transition: all linear 2s;

}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ fotter Section~~~~~~~~~~~~~~~~~~~ */
footer {
    height: 10vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 4px 20px;
    font-family: sans-serif;

}


footer p {
    text-align: center;
    padding: 15px 0 10p;
    font-size: 1em;
    font-family: sans-serif;
}

.contact-buttons {
    margin: 20px 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.footer-btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4caf50;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    animation: blinker 1s linear infinite;

}

/* Hover Effects */
.footer-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    animation: none;
}

hr .ftr-hr {
    border: 10px solid green;
    border-radius: 5px;
}



.footer-note {
    font-size: 0.9rem;
    padding: 0%;
    margin: 0% auto;
    color: #bbb;
    font-family: sans-serif;
}





@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ===== Responsive Footer ===== */
@media (max-width: 480px) {}