/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ Meadia Query ~~~~~~~~~~~~~~~~~ */
/* resopnsive for ipad Mini */
/*------------------Base clases (TAB)------------*/
@media only screen and (max-width:768px) {
    body {
        background-color: rgb(148, 92, 183);
      
    }

    html {
        font-size: 50%;
        /*1rem=16px =>10px/16   10px=1rem */
    }

    /*------------------Header (TAB)------------*/
    .header {
        min-height: 4vh;
       
    }

    nav {
        width: 94%;
        margin-right: 20rem;
        

    }

    .nav-links {
        position: absolute;
        top:100%;
        right: -100%;
        height: 60vh;
        width: 60%;
        display: none;
        backdrop-filter: blur(1.2rem);
        transition: all 2s;
    }

    .nav-links ul {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        row-gap: 15px;

    }
    .nav-links ul li a{
        color: rgb(65, 218, 65);
        font-weight: 800;

        
    }
    .nav-links ul li a:hover{
        font-size: 4rem;
        color: rgb(66, 186, 230);
        background-color: transparent;
    
    }

    .nav-links ul li a:hover::after {
        color: rgb(29, 133, 34);
        display: none;
        
    }

    .checkbtn #bars {
        display: block;
    }

    #check:checked~.nav-links {
        display: block;
        right: 0%;

    }



    /*------------------Home section (TAB)------------*/

            




    /*------------------About section (TAB)------------*/
    .about-body {
        flex-direction: column;
    }

    .About-imge {
        flex-basis: 50%;
        height: 50%;
    }

    .About-content {
        height: 50%;
    }

    .About-content:hover{
    transform: translate3d(0, -5rem, 5em) scale(1.1);
    transition:all 2s;
       }


    /*------------------skill section (TAB)------------*/

         .container-skill{
    max-width: 80%;
    }

    /*------------------Certificate section (TAB)------------*/

       .cert-card{
        flex-basis: 48%;
       }




    /*------------------project section (TAB)------------*/


    .proj1 {
        grid-template-columns: repeat(2, 1fr);
        
    }



    /*------------------Contact section (TAB)------------*/
    .contact .container {
        width: 100%;
    }
    .contact-wrapper {

        margin: 4rem;
        grid-template-columns: 1fr ;
        grid-template-rows: 3fr 2fr;
    
    }

    

}

/*------------------fotter section (TAB)------------*/
    .contact-buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 5%;
    right: 0;
}
/*///////////////////////////// FOR MOBILE DEVICES///////////*/



@media (max-width:576px) {

    /*------------------Base clases------------*/
    body {
        background-color: rgb(113, 183, 92);
    }

    html {
        font-size: 40%;
    }

    /*------------------HEADER------------*/

    .project .container {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        background-color: rgb(138, 127, 145);
    }

    /*------------------HOME------------*/






    /*------------------About------------*/
    .about-body {
        flex-direction: column;
    }

    .About-imge {
        flex-basis: 50%;
        height: 50%;
    }

    .About-content {
        height: 50%;
       
    }

    /*------------------Skills------------*/
       
    .container-skill{
    max-width: 90%;
    }
    /*------------------ertificate------------*/
     #certifications{
        max-width: 94%;
        padding: 2rem;
     }
     .cert-card{
        flex-basis: 95%;
       }
    .cert-card iframe {
    width: 200px;
    object-fit: cover;
    }
    /*------------------Project------------*/
    .proj1 {
        grid-template-columns: repeat(1, 1fr);
    
    }

    /*------------------Contact------------*/
       .contact-wrapper {
       }

    /*------------------Fotter------------*/

    footer {
        padding: 25px 10px;
    }

    .footer-btn {
        display: block;
        margin: 10px auto;
        width: 70%;
    }
}